<div class="crop-container" style="display:none;">
	
	<a href="#" id="btnZoomIn" class="zoomin tooltip" title="{{'fileapi.zoomin'|trans}}" ><i class="fa fa-plus-circle"></i></a>
	<a href="#" id="btnZoomOut" class="zoomout tooltip" title="{{'fileapi.zoomout'|trans}}"><i class="fa fa-minus-circle"></i></a>
	<a href="#" id="btnRemove" class="remove tooltip" title="{{'fileapi.change'|trans}}"><i class="fa fa-refresh"></i></a>
	<a href="#" id="btnSave" class="save tooltip" title="{{ 'common.save'|trans }}"><i class="fa fa-check-circle-o"></i></a>
	<a href="#" id="btnCancel" class="cancel tooltip" title="{{ 'common.cancel'|trans }}"><i class="fa fa-times-circle-o"></i></a>

    <div class="imageBox">
        <div class="thumbBox"></div>
        <div class="spinner" style="display: none">{{'fileapi.loading'|trans}}</div>
    </div>
    <div class="cropped" style="display:none;"></div>
    
</div>
